h1 {
	font-size:48px;
}
li {
	line-height:2em;
}
a {
	font-weight:bold;
}
h1,h2,h3 {
	text-align:center;
}
h1 {
	font-size:48px;
	font-family:unset;
}
th {
	color:white;
	background-color:rgb(22, 19, 19);
}

#content {
	width:80%;
	margin:auto;
}
main img {
	width:100%;
}
#task{
	width:100%;
	max-width:800px;
	margin:auto;
}
th,td{
	padding:10px;
}
nav {
	display: flex;
	flex-wrap: wrap;
}
nav p{
	padding:10px;
}
.sp-tel {
	display: none;
}
@media screen and (max-width : 600px){
	.sp-tel {
		display: block;
	}
}
#contactform{
	width:60%;
	margin:auto;
	padding-bottom: 100px;
}
#comment{
	margin-bottom: 20px;
}
#about{
	margin-top: 80px;
}
#news{
	margin-top: 40	px;
	margin-bottom: 80px;
}
#footer{
	height: 80px;
	text-align: center;
	color: rgb(253, 253, 253);
	background-color: #1a1919;
	width: 100%;
}
